<div class="section">
  <div class="header">
    <button routerLink="../principal">
      <i class="pi pi-angle-left"></i>
    </button>
    <p>Criar conta</p>
  </div>
  <div>
    <form class="body-form">
      <img src="../../../../../assets/create-account.png" alt="Criar conta">
      <input type="text" placeholder="Email" />
      <input type="password" placeholder="Senha" />
      <input type="password" placeholder="Confirmar senha" />
      <button class="submit" type="submit">Cadastrar</button>
      <p>Ou entre com</p>
      <div class="google-facebook">
        <img src="../../../../../assets/face.png" alt="Facebook">
        <img src="../../../../../assets/google-icon.png" alt="Google">
      </div>
    </form>
  </div>
</div>
