<div class="section">
  <div class="header">
    <button routerLink="../principal">
      <i class="pi pi-angle-left"></i>
    </button>
    <p>Criar conta</p>
  </div>
  <div>
    <form [formGroup]="form" class="body-form">
      <img src="../../../../../assets/create-account.png" alt="Criar conta">
      <input type="text" placeholder="Email" formControlName="username"/>
      <input type="password" placeholder="Senha" formControlName="password" maxlength="20" minlength="8"/>
      <button
        [ngClass]="!form.valid ? 'disabled' : 'submit'"
        [disabled]="!form.valid"
        (click)="salvar()"
        type="submit">Cadastrar</button>
      <p>Ou entre com</p>
      <div class="google-facebook">
        <img src="../../../../../assets/face.png" alt="Facebook">
        <img src="../../../../../assets/google-icon.png" alt="Google">
      </div>
      <div *ngIf="loading" class="overlay">
        <div class="loading-spinner"></div>
      </div>
    </form>
  </div>
</div>
