.section{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: 100vh;
  justify-content: center;

  .body-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .button-without-login{
      display: flex;
      width: 340px;
      justify-content: end;
      .without-login{
        padding: 5px;
        border-radius: 30px;
        background-color: white;
        border: 1px solid var(--pink-primary);
        color: var(--pink-primary);
        font-size: 12px;
        cursor: pointer;
        transition: 1s;
        &:hover{
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }
      }
    }
    .submit{
      width: 340px;
      height: 45px;
      padding: 10px;
      border-radius: 30px;
      background-color: var(--pink-primary);
      border: 0;
      color: white;
      font-weight: bold;
      font-size: 20px;
      cursor: pointer;
      transition: 1s;
      &:hover{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      }
    }

    p{
      margin-top: 10px;
      font-weight: 300;
      color: #DEDEE0;
      font-size: 12px;
    }

    .google-facebook{
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 20px;
      gap: 20px;
      border-top: 1px solid #DEDEE0;
      width: 300px;
      img{
        height: 30px;
        cursor: pointer;
      }
    }
  }
}
