.header{
  display: flex;
  padding: 10px;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  background-color: var(--pink-primary);
  button{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
    background-color: var(--pink-primary);
    i{
      color: white;
    }
    &:hover{
      background-color: white;
      color: var(--pink-primary);
    }
  }
  p{
    font-weight: bold;
    color: white;
  }
}

.form{
  padding: 20px;
  form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;

    .style-form{
      width: 80%;
      padding: 10px;
      border-radius: 20px;
      border: 2px solid var(--gray-200);
      background-color: white;
      color: var(--gray-900);
    }

    .submit{
      width: 80%;
      padding: 10px;
      border-radius: 20px;
      border: 0;
      background-color: var(--pink-primary);
      font-weight: bold;
      text-align: center;
      font-size: 18px;
      color: white;
      cursor: pointer;
    }

    .disabled{
      width: 80%;
      padding: 10px;
      border-radius: 20px;
      margin-top: 10px;
      background-color: var(--gray-200);
      border: 0;
      color: white;
      font-weight: bold;
      font-size: 20px;
      transition: 1s;
    }

    .profile-container {
      position: relative;
      width: 100px;
      height: 100px;
      overflow: visible;
    }

    .profile-photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 50%;
    }

    .edit-button {
      background-color: white;
      padding: 7px;
      border-radius: 50%;
      position: absolute;
      cursor: pointer;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1; /* Aumentamos o z-index para que o .edit-button fique acima da .profile-container. */
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo com um pouco de transparência */
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999; /* Um valor alto para garantir que fique sobre todos os outros elementos */
    }

    .loading-spinner {
      border: 6px solid #f3f3f3; /* Cor do spinner */
      border-top: 6px solid var(--pink-primary); /* Cor do spinner */
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 2s linear infinite; /* Animação de rotação */
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }
}
