<div class="page-card">
  <div class="card">
    <div class="top">
      <div class="top-name">
        <span>Requisitos básicos</span>
      </div>
    </div>
    <div class="main">
      <li>Estar em boas condições de saúde;</li>
      <li>Pesar no mínimo 50kg;</li>
      <li>Estar descansado (ter dormido pelo menos 6 horas nas últimas 24 horas);</li>
      <li>Apresentar documento original com foto;</li>
      <li>Estar alimentado (evitar alimentação gordurosa nas 4 horas que antecedem a doação);</li>
    </div>
  </div>
  <div class="card">
    <div class="top">
      <div class="top-name">
        <span>Principais impedimentos temporários</span>
      </div>
    </div>
    <div class="main">
      <li>Gripe, resfriado e febre: aguardar 7 dias após o desaparecimento dos sintomas;</li>
      <li>Período gestacional;</li>
      <li>Ingestão de bebida alcoólica nas 12 horas que antecedem a doação;</li>
      <li>Tatuagem e/ou piercing nos últimos 12 meses (piercing em cavidade oral ou região genital impedem a doação);</li>
      <li>Extração dentária: 72 horas;</li>
      <li>Vacinação: o tempo de impedimento varia de acordo com o tipo de vacina;</li>
      <li>Ter sido exposto a situações de risco acrescido para infecções sexualmente transmissíveis (aguardar 12 meses após a exposição). </li>
    </div>
  </div>
  <div class="card">
    <div class="top">
      <div class="top-name">
        <span>Principais impedimentos definitivos</span>
      </div>
    </div>
    <div class="main">
      <li>Ter passado por um quadro de hepatite após os 11 anos de idade;</li>
      <li>Evidência clínica ou laboratorial das seguintes doenças transmissíveis pelo sangue:  Hepatites B e C, AIDS (vírus HIV), doenças associadas aos vírus HTLV I e II e Doença de Chagas;</li>
      <li>Uso de drogas ilícitas injetáveis;</li>
      <li>Malária.</li>
    </div>
  </div>
</div>

