<app-back-toolbar
  [abelToReturn]="false"
  [Title]="'Solicitações'"
></app-back-toolbar>
<div class="requests">
  <div class="filter">
    <!-- <div class="check">
      <span>Minhas solicitações</span>
      <input type="checkbox" name="myRequests" (change)="handleCheckboxChange($event)">
    </div> -->
    <input
      class="search"
      type="text"
      placeholder="Pesquise o paciente aqui"
      (input)="handleSearch($event)"
    >
  </div>
  <div *ngFor="let request of requestsCopy">
    <app-card [request]="request"></app-card>
  </div>
  <div class="button">
    <button class="button-add" routerLink="add">
      <i class="pi pi-plus" style="color: white"></i>
    </button>
  </div>
</div>
<div *ngIf="loading">
  <app-loading></app-loading>
</div>
