<div class="card">
  <div class="top">
    <div class="top-name">
      <span>Fulano de tal</span>
    </div>
    <div class="top-blood-type">
      <span>O+</span>
    </div>
  </div>
  <div class="main">
    <div class="describe">
      Meu pai sofreu um acidente de carro e
      está na UTI em estado grave.
      Preciso urgente das bolsas!!
    </div>
    <div class="hospital-info">
      <div class="icon">
        <img src="../../../../../../assets/mapIconCard.png" alt="Localização">
      </div>
      <div class="infos">
        <span>Hospital das clínicas</span>
        <span>Campinas-SP</span>
      </div>
    </div>
    <div class="request-infos">
      <span><strong>Nome do solicitante:</strong> Ciclano de Assis</span>
      <span><strong>Telefone:</strong> (19) 99723-1335</span>
      <span><strong>Quantidade de bolsas:</strong> 3</span>
    </div>
  </div>
  <div class="footer">
    <span>13/12/2021</span>
  </div>
</div>
