<div class="section">
  <div class="header">
    <button routerLink="../principal">
      <i class="pi pi-angle-left"></i>
    </button>
    <p>Login</p>
  </div>
  <div class="body">
    <form class="body-form">
      <img src="../../../../../assets/login.png" alt="Criar conta">
      <input type="text" placeholder="Email" />
      <input type="password" placeholder="Senha" />
      <button class="submit" type="submit">Login</button>
      <div class="button-without-login">
        <p>Esqueceu sua senha? <a routerLink="../forgot-password">clique aqui</a></p>
      </div>
    </form>
  </div>
</div>
