<app-back-toolbar
  [abelToReturn]="false"
  [Title]="'Experiências'"
></app-back-toolbar>
<div class="xperiences">
  <div class="button">
    <button class="button-add" routerLink="add">
      <i class="pi pi-plus" style="color: white"></i>
    </button>
  </div>
  <div *ngFor="let post of posts">
    <app-card
      [post]="post"
    ></app-card>
  </div>
  <div class="nothing" *ngIf="posts.length == 0">
    <span>Sem experiências compartilhadas, seja o primeiro 😊</span>
  </div>
</div>
<div *ngIf="loading">
  <app-loading></app-loading>
</div>
