/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

:root{
  --gray-10: #1F1B29;
  --gray-25: #2E2A36;
  --gray-50: #5A5761;
  --gray-100: #99969E;
  --gray-200: #BAB9BD;
  --gray-300: #DEDEE0;
  --gray-400: #ECECEE;
  --gray-500: #F3F3F5;
  --blue-link: #1A44AF;
  --cyan: #80DEEA;
  --pink-primary: #E6054A;
  --pink-secondary: #ffcbdc;
}
