<div class="modal">
  <div class="modal-content">
    <div class="header">
      <span class="close">&times;</span>
    </div>
    <div class="body">
      <img src="../../../../../assets/inapt.png" alt="Person Image" />
      <h1 *ngIf="message == 'error'">Poxa 😕</h1>
      <h1 *ngIf="message == 'success'">Eba! 🎉</h1>
      <p *ngIf="message == 'error'">
        Infelizmente você está inapto(a) e não pode realizar a doação de sangue.
      </p>
      <p *ngIf="message == 'success'">
        Você está apto(a) e pode realizar a doação de sangue.
      </p>
    </div>
  </div>
</div>
